<h1>Restaurants</h1>

<table style="width:900px" align="center">
  <tr>
    <th>Category</th>
    <th>Location</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% @restaurants.each do |t| %>
  <tr>
    <td><%= t.category %></td>
    <td><%= t.location %></td>
    <td><%= t.name %></td>
    <td><%= t.price %></td>
    <td><%= link_to "Menu", "/restaurants/#{t.id}"%></td>
    <% if current_user && current_user.is_admin? %>
    <td><%= link_to "Delete", "/restaurants/#{t.id}", method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>