<h1>Contact Us</h1>
<form id="contactform" action="/contact" method="post">
  <input class="box" type="text" name="email" placeholder="E-mail"/>
  <input class="box" type="text" name="name" placeholder="Name"/>
  <select class="dropbox" name="subject">
    <option value="" selected="selected">Please select Subject</option>
    <option value="1">Food Quality</option>
    <option value="2">Credits</option>
    <option value="3">Account</option>
    <option value="4">Other</option>
  </select>
  <textarea rows="5" cols="50" class="box" type="text" placeholder="Please include as much info/detail as possible, we will get back to you ASAP" name="content"></textarea>
  <input class="submit" type="submit" name="submit" value="Submit"/>
</form>