<h1>LSD</h1>
<form id='criterea' action='/result' method='post'>
  <select name="location-origin" id="location-origin">
    <option value="" selected="selected">Ordering from...</option>
    <option value="Causeway Bay">Causeway Bay</option>
    <option value="Wan Chai">Wan Chai</option>
    <option value="Admiralty">Admiralty</option>
    <option value="Central">Central</option>
    <option value="Sheung Wan">Sheung Wan</option>
  </select>

  <select name="location" id="location">
    <option value="" selected="selected">Restuarant Location</option>
    <option value="Causeway Bay">Causeway Bay</option>
    <option value="Wan Chai">Wan Chai</option>
    <option value="Admiralty">Admiralty</option>
    <option value="Central">Central</option>
    <option value="Sheung Wan">Sheung Wan</option>
  </select>

  <select name="date" id="date">
    <option value="" selected="selected">Date</option>
    <option value="Today">Today</option>
    <option value="Tomorrow">Tomorrow</option>
  </select>

  <select name="time" id="time">
    <option value="" selected="selected">Time</option>
    <option value="ASAP">ASAP</option>
    <option value="12pm">12pm</option>
    <option value="1pm">1pm</option>
    <option value="2pm">2pm</option>
    <option value="3pm">3pm</option>
    <option value="4pm">4pm</option>
    <option value="5pm">5pm</option>
    <option value="6pm">6pm</option>
    <option value="7pm">7pm</option>
    <option value="8pm">8pm</option>
    <option value="9pm">9pm</option>
    <option value="10pm">10pm</option>
  </select>

  <input type="submit" value="Go" class="mainButton"/>
</form>